* {
}

@keyframes border {
    0%   {border: 4px solid black;}
    10%  {border: 2px solid black;}
    20%  {border: 1px solid black;}
    30%  {border: none;}
    40%  {border: none;}
    50%  {border: none;}
    60%  {border: none;}
    70%  {border: none;}
    80%  {border: 1px solid black;}
    90%  {border: 2px solid black;}
    100% {border: 3px solid black;}
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@font-face {
    font-family: Cutive Mono;
    src: 
        local("Cutive Mono"),
        url("../vendor/fonts/Cutive_Mono/CutiveMono-Regular.ttf") format("ttf"),
        url("../vendor/fonts/Cutive_Mono/CutiveMono-Regular.woff") format("woff"),
        url("../vendor/fonts/Cutive_Mono/CutiveMono-Regular.woff2") format("woff2"),
        url("../vendor/fonts/Cutive_Mono/CutiveMono-Regular.otf") format("opentype")
  }

html {
    font-family: Cutive Sans, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --standard-width: 90%;
    --mobile-width: 95%;
    --wide-width: 75%;
    --min-width: 400px;
    --font-standard: 1rem;
    --font-mobile: 0.85rem;
    font-size: var(--font-standard);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--standard-width);
    min-width: var(--min-width);
    margin: 30px auto;
}

.main__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: left;
    list-style-type: none;
    width: 50%;
    min-width: var(--min-width);
    padding: 0;
    margin: 0;
}

.main__paragraph {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    padding: 5px 0;
}

.paragraph__link {
    text-decoration: none;
    color: black;
    transition: text-decoration 0.5s 1s linear;
}

.main__paragraph:hover > .paragraph__link {
    text-decoration: underline;
}

.main__heading {
    text-align: center;
    font-size: 2.5rem;
    margin: 1.5em auto;
}

.main__aside {
    display: flex;
    width: 30%;
    min-width: var(--min-width);
    justify-content: center;
    align-items: center;
}

.animation {
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.animation__figure {
    position: relative;
    top: 0;
    width: 100%;
    display: none;
    opacity: 0%;
}

.animation__image {
    object-fit: cover;
    transition: all 2s ease-in;
    border: 2px solid black;
}

.animation__caption {
    text-align: center;
    margin: 0;
    padding: 5px;
}

.outer-frame {
    display: flex;
    width: 80%;
    height: 80%;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    animation-name: border;
    animation-duration: 1s;
    animation-delay: .4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.middle-frame {
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    animation-name: border;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.inner-frame {
    display: flex;
    width: 80%;
    height: 80%;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    animation-name: border;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.inner-image {
    width: 100%;
    display: none;
}

.filled-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background: black;
    background-size: auto;
    transition: border 1s ease-in;
}

.filled-square__text {
    color: white;
    visibility: hidden;
}

.main__footer {
    width: var(--standard-width);
    display: flex;
    justify-content: center;
    padding: 50px 0;
    align-items: center;
    margin: 0 auto 20% auto;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer__social {
    margin: 0;
    padding: 0;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer__social:first-of-type {
    margin-left: 0;
}

.footer__social:last-of-type {
    margin-right: 0;
}

.footer__link {
    color: black;
    cursor: pointer;
}

/* hover declarations */
/* hovering on the animation block */

.outer-frame:hover {
    opacity: 100%;
    animation: none;
    border: none;
}

.outer-frame:hover .animation__figure {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.outer-frame:hover > .middle-frame {
    animation: none;
    border: none;
}

.outer-frame:hover .inner-frame {
    animation: none;
    border: none;
}

.outer-frame:hover .filled-square {
    background: none;
}

/* hovering on the list */

/* main:has(.main__container:hover) .outer-frame {
    animation: none;
    border: none;
}

main:has(.main__container:hover) .middle-frame {
    animation: none;
    border: none;
}

main:has(.main__container:hover) .inner-frame {
    animation: none;
    border: none;
} */

/* hovering on list items */

main:has(#medium-pt:hover) .filled-square {
    background: url("../images/medium-pt.png") no-repeat;
    background-size: contain;
}

main:has(#medium-en:hover) .filled-square {
    background: url("../images/medium-en.png") no-repeat;
    background-size: contain;
}

main:has(#me:hover) .filled-square__text {
    visibility: visible;
}

main:has(#stories:hover) .filled-square__text {
    visibility: visible;
}

main:has(#portfolio:hover) .filled-square {
    background: url("../images/behance.png") no-repeat;
    background-size: contain;
}

main:has(#projects:hover) .filled-square__text {
    visibility: visible;
}

main:has(#freyja:hover) .filled-square__text {
    visibility: visible;
}

main:has(#sketch:hover) .filled-square__text {
    visibility: visible; 
}

/* touching frames */

.outer-frame:touchstart {
    opacity: 100%;
    animation: none;
    border: none;
}

.outer-frame:touchstart .animation__figure {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.outer-frame:touchstart > .middle-frame {
    animation: none;
    border: none;
}

.outer-frame.outer-frame:touchstart .inner-frame {
    animation: none;
    border: none;
}

.outer-frame:touchstart .filled-square {
    background: none;
}

/* media queries */

/* phones and tablets */
@media only screen and (max-width: 768px) {

    .main {
        width: var(--mobile-width);
        flex-direction: column;
    }

    .main__heading {
        font-size: 2rem;
    }

    .main__container {
        width: var(--mobile-width);
        font-size: var(--font-mobile);
    }

    .main__aside {
        width: var(--mobile-width);
    }

    .main__footer {
        width: var(--mobile-width);
        font-size: var(--font-mobile);
    }
}

/* wide screens */
@media only screen and (min-width: 1500px) {
    .main {
        width: var(--wide-width);
    }

    .main__footer {
        width: var(--wide-width);
    }

    .animation {
        width: 750px;
    }
}