@keyframes border {
    0%   {border: 4px solid black;}
    10%   {border: 2px solid black;}
    20%   {border: 1px solid black;}
    30%  {border: .5px solid black;}
    40%  {border: none;}
    50%  {border: none;}
    60%  {border: none;}
    70%  {border: .5px solid black;}
    80%  {border: 1px solid black;}
    90%  {border: 1.5px solid black;}
    100% {border: 3px solid black;}
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@font-face {
    font-family: Cutive Mono;
    src: 
        local("Cutive Mono"),
        url("../vendor/fonts/Cutive_Mono/CutiveMono-Regular.ttf") format("ttf"),
        url("../vendor/fonts/Cutive_Mono/CutiveMono-Regular.woff") format("woff"),
        url("../vendor/fonts/Cutive_Mono/CutiveMono-Regular.woff2") format("woff2"),
        url("../vendor/fonts/Cutive_Mono/CutiveMono-Regular.otf") format("opentype")
  }

html {
    font-family: Cutive Sans, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --standard-width: 90%;
    --mobile-width: 100%;
    --wide-width: 75%;
    --min-width: 400px;
    --font-standard: 1rem;
    --font-mobile: 0.85rem;
    font-size: var(--font-standard)
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: var(--standard-width);
    min-width: var(--min-width);
    margin: 30px auto;
}

.main__container {
    width: 50%;
    min-width: var(--min-width);
    padding-bottom: 20px;
}

.main__heading {
    text-align: center;
    font-size: 2.5rem;
    margin: 1.5em auto;
}

.main__paragraph {
    font-size: 1rem;
    padding: 0 5px;
}

.main__aside {
    display: flex;
    width: 30%;
    min-width: var(--min-width);
    justify-content: center;
    align-items: center;
}

.animation {
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fade-in-image {
    position: relative;
    top: 0;
    width: 100%;
    display: none;
    opacity: 0%;
    object-fit: cover;
    transition: all 2s ease-in;
}

.outer-frame {
    display: flex;
    width: 80%;
    height: 80%;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    animation-name: border;
    animation-duration: 1s;
    animation-delay: .4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.outer-frame:hover {
    opacity: 100%;
    animation: none;
    border: none;
}

.outer-frame:hover .fade-in-image {
    display: block;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.outer-frame:hover > .middle-frame {
    animation: none;
    border: none;
}

.outer-frame:hover .inner-frame {
    animation: none;
    border: none;
}

.outer-frame:hover .filled-square {
    background: none;
}

.middle-frame {
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    animation-name: border;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.inner-frame {
    display: flex;
    width: 80%;
    height: 80%;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    animation-name: border;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.filled-square {
    width: 80%;
    height: 80%;
    background: black;
}

.main__footer {
    width: var(--standard-width);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer__social {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer__link {
    color: black;
    cursor: pointer;
}

/* media queries */

/* phones and tablets */
@media only screen and (max-width: 768px) {

    .main {
        width: var(--mobile-width);
        flex-direction: column;
    }

    .main__heading {
        font-size: 2rem;
    }

    .main__container {
        width: var(--mobile-width);
    }

    .main__aside {
        width: var(--mobile-width);
    }

    .main__footer {
        width: var(--mobile-width);
        font-size: var(--font-mobile);
    }
}

/* wide screens */
@media only screen and (min-width: 1500px) {
    .main {
        width: var(--wide-width);
    }

    .main__footer {
        width: var(--wide-width);
    }

    .animation {
        width: 750px;
    }
}